@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  color: #525252;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.metronome {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  justify-content: space-between;
}

.bpm-display {
  width: 100%;
  text-align: center;
  color: #fb5159;
  font-weight: bold;
}
.bpm-display .tempo {
  font-size: 4em;
  font-weight: bold;
}
.bpm-display .bpm {
  font-size: 1.4em;
  font-weight: bold;
}

.tempo-text {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
}

.tempo-settings {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.tempo-settings .adjust-tempo-btn {
  width: 30px;
  height: 30px;
  font-size: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
  background-color: #fb5159;
  color: #fff;
}

.tempo-settings .decrease-tempo {
  line-height: 24px;
}

.tempo-settings .increase-tempo {
  line-height: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 70%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fb5159;
  cursor: pointer;
  border: none;
  margin: -8px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fb5159;
  cursor: pointer;
  border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.start-stop {
  width: 50px;
  height: 50px;
  font-size: 0.7em;
  text-align: center;
  color: #fff;
  background-color: #fb5159;
  border-radius: 50%;
  line-height: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.start-stop:hover {
  background-color: #ff656c;
}

.measures {
  display: flex;
  justify-content: center;
}

.measures .stepper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
}

.measures .stepper:hover {
  background-color: #ff656c;
  color: #fff;
}

.measures .add-beats {
  line-height: 20px;
}

.bpm-text {
  text-align: center;
  font-size: 0.5em;
  text-transform: uppercase;
}
